{%extends 'app/base.html'%}
{%block title%}{% endblock%}
{%block body%}
<section>
    <table class="library-stats">
  <thead>
    <tr>
      <th>Показник</th>
      <th>Значення</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Книг у бібліотеці</td>
      <td>12000</td>
    </tr>
    <tr>
      <td>Зареєстрованих читачів</td>
      <td>3400</td>
    </tr>
    <tr>
      <td>Відвідувачів за місяць</td>
      <td>980</td>
    </tr>
    <tr>
      <td>Працівників</td>
      <td>12</td>
    </tr>
  </tbody>
</table>
</section>
{% endblock%}