{% extends 'app1/base.html'%}
{% block title%}Головна{% endblock%}
{% block body%}
<header>
    <div class="container">
        <div class="header-wrap flex">
            <div class="header-title">
                {{ title }}
            </div>
            <div class="header-count">
                <h4>Всього вакансій: {{ vacancies_count}}</h4>
            </div>
        </div>
    </div>
</header>
<main>
    <section>
        <div class="container">
            <div class="sec1-wrap flex">
                {% if vacancies %}
                <div class="sec1-vacancies">
                    {% for vacancy in vacancies %}
                    <div class="card">
                        <div class="card-header">
                            <h2>{{vacancy.title}}</h2>
                        </div>
                        <div class="card-main">
                            <h4>Зарплата: {{vacancy.salary}} $ <br>
                                Компанія: {{vacancy.company}} <br>
                                Місто: {{vacancy.city}} <br>
                                Досвід роботи: {{vacancy.experience}} <br>
                            </h4>
                            <p>Навички:</p>
                            <div class="skiils">
                            {%for skill in vacancy.skills%}
                            <h4 class="skill">{{skill}} </h4>
                            {%endfor%}
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="card-btn"><a href="/about/{{vacancy.id}}/">Детальніше</a></button>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                {% else%}
                <p>Вакансій немає</p>
                {% endif%}
            </div>
        </div>
    </section>
</main>
{% endblock%}